/.gitcode/ @xuanjz
/cmake/ @neilliuistaken
/demangler/ @neilliuistaken
/doc/ @luojianing
/figures/ @luojianing

/include/cangjie/AST/ @Augus_Jan
/include/cangjie/AST/ASTKind.inc @mini-tang
/include/cangjie/Basic/ @Cangjie-hljyaozhen
/include/cangjie/Basic/InteropCJPackageConfigReader.h @JasmineZhu
/include/cangjie/CHIR/ @Mr_Kang_Yi
/include/cangjie/CHIR/Interpreter @claudio_
/include/cangjie/CHIR/Serializer @Cangjie-hljyaozhen
/include/cangjie/CodeGen/ @duo-duo
/include/cangjie/ConditionalCompilation/ @mini-tang
/include/cangjie/Driver/ @neilliuistaken
/include/cangjie/Frontend/ @wyq1213
/include/cangjie/FrontendTool/ @wyq1213
/include/cangjie/IncrementalCompilation/ @Cangjie-hljyaozhen
/include/cangjie/Lex/ @kkkkkkkbbbbbbb
/include/cangjie/Lex/Tokens.inc @mini-tang
/include/cangjie/Macro/ @mini-tang
/include/cangjie/Mangle/ @neilliuistaken
/include/cangjie/MetaTransformation/ @Timi3
/include/cangjie/Modules/ @Augus_Jan
/include/cangjie/Option/ @neilliuistaken
/include/cangjie/Parse/ @kkkkkkkbbbbbbb
/include/cangjie/Sema/ @huohuixin
/include/cangjie/Utils/ @wyq1213

/integration_build/ @zichexuelan
/schema/ @mini-tang
/schema/ModuleFormat.fbs @Augus_Jan

/src/AST/ @Augus_Jan
/src/Basic/ @Cangjie-hljyaozhen
/src/Basic/InteropCJPackageConfigReader.cpp @JasmineZhu
/src/CHIR/ @Mr_Kang_Yi
/src/CodeGen/ @duo-duo
/src/CodeGen/CJNative/CJNativeCGCFFI.cpp @gaoxiang999
/src/CodeGen/CJNative/CJNativeCGCFFI.h @gaoxiang999
/src/ConditionalCompilation/ @mini-tang
/src/Driver/ @neilliuistaken
/src/Frontend/ @wyq1213
/src/FrontendTool/ @wyq1213
/src/IncrementalCompilation/ @Cangjie-hljyaozhen
/src/Lex/ @kkkkkkkbbbbbbb
/src/Macro/ @mini-tang
/src/Mangle/ @neilliuistaken
/src/MetaTransformation/ @Timi3
/src/Modules/ @Augus_Jan
/src/Option/ @neilliuistaken
/src/Parse/ @kkkkkkkbbbbbbb
/src/Parse/NativeFFI @JasmineZhu
/src/Parse/ParseQuote.cpp @mini-tang
/src/Parse/ParseMacro.cpp @mini-tang
/src/Sema/ @huohuixin
/src/Sema/GenericInstantiation @Augus_Jan
/src/Sema/NativeFFI/ @JasmineZhu
/src/Sema/Test/ @JasmineZhu
/src/Sema/CJMP/ @JasmineZhu
/src/Sema/Desugar/DesugarMacro.cpp @mini-tang
/src/Sema/Desugar/DesugarMacro.h @mini-tang
/src/Utils/ @wyq1213

/third_party/ @neilliuistaken

/unittests/AST/ @Augus_Jan
/unittests/Basic/ @Cangjie-hljyaozhen
/unittests/CHIR/ @Mr_Kang_Yi
/unittests/CodeGen/ @duo-duo
/unittests/ConditionalCompilation/ @mini-tang
/unittests/Driver/ @neilliuistaken
/unittests/Frontend/ @wyq1213
/unittests/IncrCompile/ @Cangjie-hljyaozhen
/unittests/Lex/ @kkkkkkkbbbbbbb
/unittests/Macro/ @mini-tang
/unittests/Modules/ @Augus_Jan
/unittests/Option/ @neilliuistaken
/unittests/Parse/ @kkkkkkkbbbbbbb
/unittests/Sema/ @huohuixin
/unittests/TestCompilerInstance/ @kkkkkkkbbbbbbb
/unittests/Utils/ @wyq1213

/utils/ @neilliuistaken 
build.py @neilliuistaken
CMakeLists.txt @neilliuistaken
LICENSE @xuanjz
OAT.xml @xuanjz
Open_Source_Software_Notice.docx @xuanjz
*.md @luojianing